<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#fafeff" />
  <meta name="description" content="Restaurant dengan rating-rating terbaik" />
  <meta name="keywords" content="DNRestaurant" />
  <title>DN Restaurant Apps</title>
  <link rel="icon" href="/images/icons/android-chrome-maskable-192x192.png" />
  <link rel="manifest" href="manifest.json" />
  <link rel="apple-touch-icon" href="/images/icons/android-chrome-maskable-192x192.png" />
</head>
<body>
  <a href="#main" class="skip-link">Menuju ke Kontent</a>
  <header class="header" id="header">
    <nav-bar></nav-bar>
  </header>
  <main id="main" tabindex="0"></main>
  <dn-footer></dn-footer>
</body>
</html>